@{
    ViewData["Title"] = "Home Page";
}

@model User

<div class="text-center-index">
    <h2 class="display-4">Hello, you are in Contacts app</h2>
</div>

<div class="login-container">

    <form class="form-login" method="post" asp-action="SignIn" asp-controller="Authentication" onsubmit="return validateLoginForm()">

        <h2 style="margin: 20px">Login</h2>

        <!-- Username input -->
        <div class="form-outline mb-4">
            <input asp-for="Username" id="username" class="form-control" />
            <label class="form-label" for="username">Username</label>
            <p class="error-message" id="usernameError"></p>

            @if (ViewBag.ErrorField == "Username")
            {
                <p class="error-message-from-server" id="usernameErrorFromServer"> @ViewBag.ErrorMessageFromServer </p>
            }
        </div>

        <!-- Password input -->
        <div class="form-outline mb-4">
            <input asp-for="Password" type="password" id="password" class="form-control" />
            <label class="form-label" for="password">Password</label>
            <p class="error-message" id="passwordError"></p>

            @if (ViewBag.ErrorField == "Password")
            {
                <p class="error-message-from-server" id="passwordErrorFromServer">@ViewBag.ErrorMessageFromServer</p>
            }
        </div>

        @if (ViewBag.ErrorField == null)
        {
            <p>@ViewBag.ErrorMessageFromServer</p>
        }

        <div style="display: flex; flex-direction: column; justify-content: center; align-items: center; margin: 10px">
            <a style="margin-bottom: 10px" asp-controller="Auth" asp-action="Registration">You're not registrated?</a>

            <button style="width: 65px;" type="submit" class="btn btn-primary btn-block mb-4">Login</button>
        </div>

        @* sdf *@
    </form>

    


</div>

<script>
    

</script>